# GitHub API
GITHUB_TOKEN=ghp_your_github_personal_access_token_here

# Application Configuration
REPOSEER_ENV=development
DATA_DIR=data
CONFIG_DIR=configs
LOG_LEVEL=INFO

# External Services
NEWS_API_KEY=
GNEWS_API_KEY=
